{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<video width="320" height="240" autoplay controls>
        <!-- <source src="{{post.video.url}}" type="video/mp4">
        <source src="{{post.video.url}}" type="video/mkv">
        <source src="{{post.video.url}}" type="video/ogg"> -->
        Your browser does not support the video tag.
      </video>
      <br>
      <br>      
{{post.user.username}}
<img src="{{post.image1.url}}" width='200' height='200' alt="">
<img src="{{post.image2.url}}" width='200' height='200' alt="">
<img src="{{post.image3.url}}" width='200' height='200' alt="">

      <h2>
          {% for com in post.comments.all %}
            {{com.user.username}} : {{com.comment}}
            <br>
          {% endfor %}
      </h2>
      <form id='comment' action="/comment/{{post.id}}" method="post" enctype="multipart/form-data">
        {%csrf_token%}

        {% bootstrap_form comm %}
        <input type="submit" class="btn btn-primary btn-lg" value="Add comment">
    </form>
{% endblock %}